<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Search</title>
</head>
<body>
<div>
<!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/F_G7BJBDrKU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <script async src="https://cse.google.com/cse.js?cx=004105696008600156915:oqp24uhc3ra"></script>
    <div class="gcse-searchbox" data-enableHistory="true" data-personalizedAds="false" data-image_as_filetype="jpg, png, gif" data-newWindow="true"></div>
    <div class="gcse-searchresults"></div>
</div>
</body>
</html>