<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Post</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container">
    <h1>Create Post</h1>
    <form th:action="@{/dashboard/posts/create}" th:method="post" th:object="${post}" enctype="multipart/form-data">
        Title:
        <input th:field="*{textTitle}" />
        <br />
        Body:
        <textarea th:field="*{textBody}"></textarea>
        <br />
        Upload File:
        <input th:field="*{images}" type="file" name="files" multiple>
        <br />
        Blog:
        <select th:field="*{id}" required>
            <option th:each="blog : ${blogs}" th:value="${blog.id}" th:utext="${blog.blogTitle}"></option>
        </select>
        <br />
        Categories:
        <ul>
            <li th:each="category : ${categories}" type="hidden">
                <div class="ui checkbox">
                    <input type="checkbox" th:field="*{categories}" th:value="${category.id}">
                    <label th:text="${category.name}"></label>
                </div>
            </li>
        </ul>
        <input type="submit" />
    </form>
</div>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>