<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('New Blog')">
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <!--Container start-->
    <div class="mt-3 container">
        <!--   Row start: All three sections are in the same row-->
        <div class="row">
            <!--      Responsive user sticky navigation partial-->
            <div th:replace="partials/left-nav :: left-nav"></div>


            <!-- Form Start-->
            <div class="col-lg-6">
                <h3 class="dash-header">New Post</h3>
                <div class="form-container">
                    <form th:action="@{/dashboard/posts/create}" th:method="post" th:object="${post}" enctype="multipart/form-data">
                        <div class="d-flex justify-content-left align-items-baseline">
                            <label for="" class="pr-2">Title</label>
                            <input th:field="*{textTitle}" placeholder="Post Title" class="pl-2"/>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-left align-items-baseline">
                            <label for="" class="pr-2">Body</label>
                            <textarea th:field="*{textBody}" class="pl-2" placeholder="Text to display on your post"></textarea>
                        </div>
                        <br/>
<!--                        Testing iframe-->
                        <div class="d-flex justify-content-left align-items-baseline">
                            <label for="" class="pr-2">Video id</label>
                            <input th:value="${videoEmbedCode}" placeholder="Video URL" class="pl-2" readonly="true" disabled="true"/>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-left align-items-baseline">
                            <label for="" class="pr-2">Blog</label>
                            <select th:field="*{id}" required>
                                <option th:each="blog : ${blogs}" th:value="${blog.id}" th:utext="${blog.blogTitle}"></option>
                            </select>
                        </div>
                        <br/>
                        <div class="d-flex flex-row">
                            <label for="" class="pr-2">Categories</label>
                            <ul class="form-categories">
                                <li th:each="category : ${categories}" type="hidden">
                                    <div class="ui checkbox">
                                        <input type="checkbox" th:field="*{categories}" th:value="${category.id}">
                                        <label th:text="${category.name}"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br/>
                        <input class="btn submit-btn" type="submit"/>
                    </form>
                </div>
            </div>
            <!--    Form End-->

            <!--Responsive Search sticky navigation partial-->
            <div th:replace="partials/right-nav :: right-nav"></div>

            <!--        End container and row-->
        </div>
    </div>

<!--    Footer-->
    <div th:replace="partials/footer :: footer"></div>
    </body>
</html>