<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: head('All My Posts')">
    <meta charset="UTF-8">
    <title>My Posts</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>My Posts</h1>
<br>
<div th:if="${#lists.isEmpty(posts)}">
    <h2>No posts to show</h2>
</div>
<div th:if="!${#lists.isEmpty(posts)}">
    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Video </th>
            <th> Link </th>
            <th> Body </th>
            <th> Date Created </th>
            <th> Categories </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td>
                <p th:text="${post.textTitle}"></p>
            </td>
            <td>
                <div th:if="${post.videoEmbedCode} != null">
                    <iframe width="560" height="315"  th:src="@{https://www.youtube.com/embed/{videoEmbedCode}(videoEmbedCode = ${post.videoEmbedCode})}"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </td>
            <td>
                <div th:if="${post.linkUrl} != null">
                    <a th:href="@{${post.linkUrl}}" th:text="${post.linkUrl}"></a>
                </div>
            </td>
            <td>
                <p th:text="${post.textBody}"></p>
            </td>
            <td th:text="${post.dateCreated}"></td>
            <td>
                <span th:each="category : ${post.categories}" type="hidden">
                        <label th:text="${category.name}"></label>
                </span>
            </td>
            <td>
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${userName == post.blog.user.username}">
                        <a th:href="@{|/dashboard/posts/${post.id}/edit|}">
                            <button>Edit Post</button>
                        </a>
                        <form th:action="@{|/dashboard/posts/${post.id}/delete|}" th:method="POST" style="display:inline">
                            <button>Delete Post</button>
                        </form>
                    </div>
                    <div>
                        <a th:href="@{|/dashboard/posts/${post.id}/reblog|}"><button>Reblog</button></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>