<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Reblog')">
    <meta charset="UTF-8">
    <title>Reblog</title>
</head>
<div th:replace="partials/navbar :: navbar"></div>
<body>
<div class="container">
    <h1>Reblog</h1>
    <form th:action="@{|/dashboard/posts/${post.id}/reblog|}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{textTitle}" />
        <br />
        Blog:
        <select th:field="*{id}" required>
            <option th:each="blog : ${blogs}" th:value="${blog.id}" th:utext="${blog.blogTitle}"></option>
        </select>
        <br />
        Video id:
        <input th:field="*{videoEmbedCode}" />
        <br />
        Body:
        <textarea th:field="*{textBody}" />
        <br />
        Categories:
        <ul>
            <li th:each="category : ${categories}" type="hidden">
                <div class="ui checkbox">
                    <input type="checkbox" th:field="*{categories}" th:value="${category.id}">
                    <label th:text="${category.name}"></label>
                </div>
            </li>
        </ul>
        <input type="submit" class="btn"/>
    </form>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>