<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Edit User</h1>
    <form th:action="@{|/account/${username}/edit|}" th:method="post" th:object="${user}">
        Password:
        <input th:field="*{password}" type="password"/>
        <br/>
        Email:
        <input th:field="*{email}"/>
        <br/>
        First Name:
        <input th:field="*{firstName}"/>
        <br/>
        Last Name:
        <input th:field="*{lastName}"/>
        <br/>
        <input type="submit"/>
    </form>
</div>






</body>
</html>