<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Dashboard')">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<br>


<div class="mt-2 container">
    <!--    All three sections are in the same row-->
    <div class="row">
        <div th:replace="partials/left-nav :: left-nav"></div>
        <!--        Recent Posts: posts from followed blogs-->
        <div class="col-lg-6">
            <h3 class="dash-header mt-2">Recent Posts</h3>
            <hr style="border: #1674b1 solid 2px;">
            <!--Displays if user is not following any blogs with posts-->
            <div th:if="${#lists.isEmpty(posts)}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">No posts to show (yet!)</h5>
                        <p class="card-text">Follow <a th:href="@{/dashboard/blogs}"
                                                       style="color: #ed6d50; "><u>blogs</u></a> to show posts in your
                            dashboard</p>
                    </div>
                </div>
            </div>
            <!--Displays if user is following blogs with posts-->
            <div th:if="!${#lists.isEmpty(posts)}">
                <div class="post-container d-flex flex-column-reverse">
                    <div th:each="blog : ${users.following}">
                        <div class="card post mb-3" th:each="post : ${blog.posts}">
                            <div class="card-body">
                                <h5 th:text="${post.textTitle}" class="card-title">Card title</h5>
                                <p th:text="${post.textBody}" class="card-text">With supporting text below as a natural
                                    lead-in
                                    to
                                    additional content.</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <div class="d-flex flex-column">
                            <span class="categories" th:each="category : ${post.categories}" type="hidden">
                                <label th:text="${category.name}"></label>
                             </span>
                                    <p class="card-info"> Created on <span th:text="${post.dateCreated}"
                                                                           class="date-created"></span> by <span
                                            th:text="${post.user.getUsername()}" class="created-by"></span></p>
                                </div>
                                <a th:href="@{/dashboard/blogs/{id}(id=${post.blog.id})}"
                                   th:text="${post.blog.getBlogTitle()}"
                                   class="btn follow-btn align-self-center" data-blogURL="">Follow Blog</a>
                                <div>
                                    <a th:href="@{|/dashboard/posts/${post.id}/reblog|}">
                                        <button>Reblog</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="partials/right-nav :: right-nav"></div>
    </div>
</div>
<div th:replace="partials/footer :: footer"></div>

</body>
</html>