<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Oops')">
    <meta charset="UTF-8"/>
    <title>Ooops</title>
</head>
<body>
<!--Sugar We're Going Down by Fall Out Boy-->
<h1>Sorry, unavailable</h1>
<p>Watch a video instead</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uhG-vLZrb-g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>