/*.form {*/
/*    background-color: aqua;*/
/*    width: 400px;*/
/*    height: 500px;*/
/*    border-radius: 7px;*/
/*    padding: 20px;*/
/*}*/

/*Full Site Styling*/
html {
    font-family: "Helvetica Neue", sans-serif;
}

body {
    color: #FFFFFF;
    background-color: #1674b1;
}

/*Navbar*/
.navbar {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #1674b1;
    border-bottom: #239cd3 solid 1px;
}

.navbar-brand {
    font-family: 'Patrick Hand', cursive;
    color: #ffffff;
}

.nav-link {
    font-weight: bold;
    color: #ffffff;
}

.nav-link:hover {
    color: #fc910d;
}

.navbar-brand:hover {
    color: #fc910d;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    background-color: #ed6d50;
    border-radius: 15px;
}

/*Dividers*/
hr {
    border: #239cd3 solid 2px;
}

/*Landing Styling*/
.landing-one {
    height: 100vh;
    width: 100vw;
    margin: auto;
    word-wrap: break-word;
}

.landing-text {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
}

.type-bg {
    background-color: #FFFFFF;
    border: #239cd3 solid 2px;
    border-radius: 15px;
    transform: translateY(125px)translateX(150px);
    width: 75vw;
}

.site-name {
    font-weight: bold;
    font-size: 4em;
    color: #FFFFFF;
}

.paragraph {
    width: 60vw;
    height: 70vh;
    position: absolute;
    transform: translateY(200px)translateX(300px);
}

.landing-mascot {
width: 600px;
    height: 500px;
    position: absolute;
    left: -125px;
    bottom: 0px;
}

.text-js{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
    opacity: 0;
    color: #000000;
}


.cursor{
    display: block;
    position: absolute;
    height: 2rem;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: #ed6d50;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.landing-two {
    background-color: #FFFFFF;
    height: 75vh;
    width: 100vw;
}

.devs {
    font-weight: bold;
    margin: 2rem 1rem;
    text-align: center;
    padding: 0 1rem;
    border: none;
    box-shadow: 3px 3px 6px #AAA;
}

.dev>.card-title{
    font-size: 3em;
}

.dev-pic {
    width: 250px;
    height: 250px;
}

.dev-name {
    z-index: 100;
}

.about {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #ed6d50;
    font-size: 3rem;
}

/*Login and Sign Up*/
.login {
    transform: translateY(50%);
    color: #ed6d50;
}

.sign-up {
    color: #ed6d50;
    font-weight: bold;
}

.login-header {
    font-weight: bold;
    color: #ed6d50;
    font-family: 'Patrick Hand', cursive;
}

.login-msg {
    font-weight: lighter;
    color: #239cd3;
}

.login-input {
    width: 100%;
    color: #fc910d;
    font-size: small;
    border: #ed6d50 1px solid;
    border-radius: 6px;
    /*transform: translateX(-1rem);*/
    z-index: 1;
    height: 2rem;
}

.login-btn {
    width: 100%;
    text-align: center;
}

.logout-btn {
    transform: translateY(-3px);
}

.login-icon {
    height: 2rem;
    width: 2rem;
    z-index: 1000;
    background-color: #ed6d50;
    color: #FFFFFF;
    border-radius: 6px;
    text-align: center;
    padding-top: 6px;
    margin-right: 2px;
}

.logo {
    z-index: 1000;
}

/*Dashboard Styling*/
.dash-nav {
    color: #ffffff;
}

.dash-header {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.dash-link {
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: .5em;
}

.dash-link:hover {
    color: #fc910d;
}

.dash-text {
    font-size: small;
    color: #FFFFFF;
}

.card-title {
    color: #ed6d50;
    font-weight: bolder;
    font-size: large;
}

.date-created, .created-by, .categories {
    font-weight: lighter;
    font-size: small;
    color: #ed6d50;
}

.card-info {
    font-size: small;
}

.card {
    border-radius: 25px;
    background-color: #FFFFFF;
    border: #239cd3 solid 2px;
    color: #000000;
}

/*Form Styling*/
.form-container {
    font-weight: bold;
    font-size: large;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #ed6d50;
    padding: 2rem;
    border: #239cd3 solid 2px;
}

.form-categories {
    list-style-type: none;
    color: #ed6d50;;
    font-weight: bold;
    font-size: large;
}

.btn {
    background-color: #ed6d50;;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}

.btn:hover {
    background-color: #fc910d;
    color: #FFFFFF;
}

/*Tables*/
table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}


th, td {
    border-bottom: 2px solid #fc910d;
    border-top: 2px solid #fc910d;
}

th {
    background-color: #ed6d50;
    color: #FFFFFF;
}

tr {
    background-color: #FFFFFF;
    color: #ed6d50;
}

/*Youtube Search*/

#texttocopy {
    color: #1674b1;
    z-index: -1;
    visibility: hidden;
}

.copy-btn {
    transform: translateY(-2rem);
    z-index: 1;
}