<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="tVOtRUKuNfsm1-Bb-L41cnVzK_2BuXqbA3d4f1ra4dk" />
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="wrapper">

    <header class="container my-5">

        <div class="jumbotron">
            <h1 th:align="center"><iframe src="https://giphy.com/embed/dvBgr7pA6FTJOMOALY" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/moodman-dvBgr7pA6FTJOMOALY"></a></p></h1>
        </div>
    </header>
</div>
<div class="card">
    <div class="card-header">
        Kitsune
    </div>
    <div class="card-body">
        <h5 class="card-title">A place to explore, learn, create</h5>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>