<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container">
    <h1>Profile</h1>
    <br/>
    First and Last name:
    <br/>
    <h1><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h1>
    <br/>
    Username:
    <br/>
    <h2 th:text="${user.username}"></h2>
    <br/>
    Blogs and Categories:
    <br/>
    <span th:each="blog : ${user.blogs}" >
        <label th:text="${blog.blogTitle}"></label>
        <br/>
        <label th:text="${blog.categories}"></label>
    </span>
    <br/>
    Followers:
    <br/>
    <span th:each="follower : ${user.blogs}" >
        <label th:text="${follower.followers}"></label>
    </span>
    <br/>
    Following:
    <br/>
    <span th:each="following : ${user.following}">
        <label th:text="${following.blogTitle}"></label>
        <br/>
        <label th:text="${following.categories}"></label>
    </span>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>