<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('New Blog')">
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<div>
    <div th:replace="partials/navbar :: navbar"></div>
    <!--    Container start-->
    <div class="container mt-2">
        <!--    Row start: All three sections are in the same row-->
        <div class="row">

            <!--        Dashboard Navigation: account, create, view my blogs/posts-->
            <div class="col-lg-3 d-none d-lg-block">
                <!--            Container for profile picture thumbnail and logged in username-->
                <div class="d-flex">
                    <!--                Profile Picture-->
                    <img class="profile-thumbnail pr-2 align-items-baseline" src="http://placeholder.pics/svg/40"
                         alt="Profile Picture">
                    <!--               Displays logged in username-->
                    <h3 class="dash-header" th:text="${user}">username</h3>
                </div>
                <!--            Navigation for user's account/blog/post -->
                <div class="dash-nav pl-1">
                    <hr>
                    <h6><a class="dash-link" th:href="@{/account}">My Account</a></h6>
                    <h6><a class="dash-link" href="#">Followed Blogs</a></h6>
                    <h6><a class="dash-link" th:href="@{/dashboard/blogs/myblogs}">My Blogs</a></h6>
                    <h6><a class="dash-link" th:href="@{/dashboard/blogs/create}">New Blog</a></h6>
                    <h6><a class="dash-link" th:href="@{/dashboard/posts/myposts}">My Posts</a></h6>
                    <h6><a class="dash-link" th:href="@{/dashboard/posts/create}">New Post</a></h6>
                </div>
            </div>
            <!--        End Dashboard Navigation-->

            <!--    Form Start-->
            <div class="col-lg-6">
                <h3 class="dash-header">New blog</h3>
                <div class="form-container">
                    <form class="forms d-flex flex-column" th:action="@{/dashboard/blogs/create}" th:method="post"
                          th:object="${blog}">
                        <div class="d-flex justify-content-left align-items-baseline">
                            <label for="" class="pr-2">Title</label>
                            <input th:field="*{blogTitle}" placeholder="Blog Title" class="pl-2"/>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-left align-items-baseline">
                            <label for="" class="pr-2">Handle</label>
                            <input th:field="*{handle}" class="pl-2" placeholder="Auto-assigned if blank"/>
                        </div>
                        <br/>
                        <div class="d-flex flex-row">
                            <label for="" class="pr-2">Categories</label>
                            <ul class="form-categories">
                                <li th:each="category : ${categories}" type="hidden">
                                    <div class="ui checkbox">
                                        <input type="checkbox" th:field="*{categories}" th:value="${category.id}">
                                        <label th:text="${category.name}"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br/>
                        <input class="btn submit-btn" type="submit"/>
                    </form>
                </div>
            </div>
            <!--    Form End-->

            <!--            Dash Search Info Start-->
            <div class="col-lg-3 d-none d-lg-block">
                <h3 class="dash-header text-right">Search Kitsune</h3>
                <div class="pr-1 text-right dash-nav">
                    <hr>
                    <h6><em><a class="dash-link" th:href="@{/dashboard/search/texts}">Google Custom Search</a></em></h6>
                    <p class="dash-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <h6><em><a class="dash-link" th:href="@{/dashboard/search/videos}">YouTube Search</a></em></h6>
                    <p class="dash-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <h6><em><a class="dash-link" th:href="@{/dashboard/search/handle}">Site Search</a></em></h6>
                    <p class="dash-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--            Dash Search Info Start-->

        </div>
        <!--        Row end-->
    </div>
    <!--    Container end-->
    <div th:replace="partials/footer :: footer"></div>
    </body>
</html>