<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Blogs</title>
</head>
<body>
<h1>All Blogs</h1>
<br>
<div th:if="${#lists.isEmpty(blogs)}">
    <h2>No blogs to show</h2>
</div>
<div th:if="!${#lists.isEmpty(blogs)}">
    <table>
        <thead>
        <tr>
            <th> Title</th>
            <th> Handle</th>
            <th> Date Created</th>
            <th> Created By</th>
            <th> Categories</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog : ${blogs}">
            <td>
                <p th:text="${blog.blogTitle}"></p>
            </td>
            <td>
                <p>/<span th:text="${blog.handle}"></span></p>
            </td>
            <td th:text="${blog.dateCreated}">
<!--                Need to parse date-->

            </td><td th:text="${blog.user.username}"></td>
<!--            Need to display username instead of user object-->
            <td>
                <span th:each="category : ${blog.categories}" type="hidden">
                        <label th:text="${category.name}"></label>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>