<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Blogs</title>
</head>
<body>
<h1>All Blogs</h1>
<br>
<div th:if="${#lists.isEmpty(blogs)}">
    <h2>No blogs to show</h2>
</div>
<div th:if="!${#lists.isEmpty(blogs)}">
<table>
    <thead>
    <tr>
        <th> Info</th>
        <th> Date Created</th>
        <th> Categories</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td>
            <div>
                <h2 th:text="${blog.blogTitle}"></h2>
                <br>
                <p th:text="${blog.handle}"></p>
            </div>
        </td>
        <td th:text="${blog.dateCreated}"></td>
        <td th:text="${blog.categories}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>