<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${blogs}" th:action="@{/dashboard/searchbyhandle}" method="post">
    <input type="text" th:value="${search}" class="form-control"/>
    <input type="submit" class="btn btn-primary"/>
    <table>
        <tr>
            <th>Blogs</th>
        </tr>
        <tr th:each="blog : ${blogs}">
            <td>
                <p th:text="${blog}"></p>
            </td>
        </tr>
    </table>
</form>
</body>
</html>