<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Viewing Blog</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1 th:text="${blog.blogTitle}"></h1>
<p> By: <span th:text="${blog.user.username}"></span></p>
<span th:each="category : ${blog.categories}" type="hidden">
    <label th:text="${category.name}"></label>
</span>
<br>
<div sec:authorize="isAuthenticated()">
    <div th:if="${userName == blog.user.username}">
        <a th:href="@{|/dashboard/blogs/${blog.id}/edit|}"><button>Edit Blog</button></a>
        <form th:action="@{|/dashboard/blogs/${blog.id}/delete|}" th:method="POST" style="display:inline">
            <button>Delete Blog</button>
        </form>
    </div>
    <div>
        <form th:action="@{|/dashboard/blogs/${blog.id}/follow|}" th:method="POST" style="display:inline">
            <button>Follow Blog</button>
        </form>
    </div>
</div>
<div class="posts" th:each="post : ${posts}">
    <h2 th:text="${post.textTitle}"></h2>
    <p th:text="${post.textBody}"></p>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${userName == post.user.username}">
            <a th:href="@{|/dashboard/posts/${post.id}/edit|}"><button>Edit Post</button></a>
            <form th:action="@{|/dashboard/Posts/${post.id}/delete|}" th:method="POST" style="display:inline">
                <button>Delete Post</button>
            </form>
        </div>
        <div>
            <a th:href="@{|/dashboard/posts/${post.id}/reblog|}"><button>Reblog</button></a>
        </div>
    </div>
</div>
<div>
    <h1>Following:</h1>
    <div th:each="follower : ${blog.user.following}">
        <span th:text="${follower.blogTitle}"></span>
    </div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>